.modal {
  width: 100%;
  z-index: 10;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 10px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 430px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-left: 36px;
  padding-right: 36px;
}

.modal__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #1a1b22;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 22px;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__set {
  width: 100%;
  display: contents;
  border: 0;
  margin: 0;
  padding: 0;
}

.modal__button-closed {
  z-index: 11;
  height: 40px;
  width: 40px;
  align-self: flex-start;
  margin-top: -45px;
  transition-duration: 0.2s;
  border: none;
  padding: 0px;
  background: url("../../images/Close_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.modal__button-closed:hover {
  opacity: 0.6;
}

.modal_type_opened {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.modal__button {
  height: 64px;
  width: 100%;
  border-style: none;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 39px;
  transition-duration: 0.2s;
  cursor: pointer;
  position: relative;
}

.modal__button--in-active {
  color: #b6bcbf;
  background: #e6e8eb;
  cursor: not-allowed;
}

.modal__detail {
  width: 100%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 28px;
}

.modal__link {
  border: none;
  background: none;
  color: #2f71e5;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.modal__button_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
}

.modal__error {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  top: -20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  cursor: disabled;
}

@media screen and (max-width: 950px) {
  .modal__title {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 550px) {
  .modal {
    align-items: flex-end;
  }
  .modal__container {
    display: block;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .modal__form {
    width: 100%;
    height: 512px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .modal__button-closed {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 16px;
  }

  .modal__button {
    margin-top: 23px;
  }
}
