@import url("../../utils/fonts/fonts.css");

.body {
  background-color: gray;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
