.card{ 
  position: relative;
  width: 400px;
  height: 576px;
  background: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 16px;
}

.card__img{
  width: 100%;
  height: 272px;
  border-radius: 16px 16px 0px 0px;
}

.card__content-box{
  width: 100%;
  height:calc(100% - 272px);
  padding: 24px;
}

.card__date{
  width: 100%;
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 133%;
  color: #B6BCBF;
}

.card__title{
  width: 100%;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 115%;
  color: #1A1B22;
  height: 60px;
  max-width: 352px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card__content{
  width: 100%;
  height: 110px;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 138%;
  color: #1A1B22;
  margin-top: 16px;
  margin-bottom: 18px;
}

.card__source{
  width: 100%;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}

.card__save-button{
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../images/save_normal.svg');
  border: none;
  top: 24px;
  right: 24px;
  background-position: center;
  transition-duration: 0.3s;
}

.card__save-button_marked{
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../images/save_marked.svg');
  border: none;
  top: 24px;
  right: 24px;
  background-position: center;
  transition-duration: 0.3s;
  cursor: none;
  pointer-events: none;
}



.card__save-button:hover{
  background: url('../../images/save_hover.svg');
  cursor: pointer;
}

.card__delete-button{
  position: absolute;
  width: 40px;
  height: 40px;
  background: url('../../images/delete_normal.svg');
  border: none;
  top: 24px;
  right: 24px;
  background-position: center;
  transition-duration: 0.3s;
}

.card__delete-button:hover{
  background: url('../../images/delete_hover.svg');
  cursor: pointer;
}

.card__keyword{
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 8px 22px 8px 22px;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Roboto','sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.card__signin{
  display: none;
  position: absolute;
  width: 182px; 
  top: 0;
  right: 50px;
  height: 100%;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Roboto','sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.card__save-button_signin:hover .card__signin{
  display: flex;
  justify-content:center;
  text-align: center;
}

@media screen and (max-width: 950px){
 .card{
    width: 224px;
    height: 420px;

  } 
  
  .card__img{
    max-height: 150px;
  }

  .card__content-box{
    width: 100%;
    height:calc(100% - 150px);
    padding: 16px;
  }

  .card__title{
    font-size: 22px;
    line-height: 109%;
    color: #1A1B22;
    max-width: 192px;
    height: 72px;
    display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  }

  .card__content{
    width: 100%;
    height: 88px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: 138%;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .card__source{
    width: 100%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 125%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
  }
  .card__save-button{
   top: 8px;
   right: 8px;
  }

  .card__save-button_marked{
    top: 8px;
    right: 8px;
  }



}  
