.nav{
  display: flex; 
  border-bottom: 2px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  height: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 26px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  
}

.nav__name{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.nav__container{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 208px);
  align-items: center;
}

.nav__lists{
  align-items: center;
  display: flex;    
  list-style-type: none;
  column-gap: 42px;
}

.nav__button-signin{
  color: white;
  width: 176px;
  background-color: rgba(0,0,0, 0.00);
  height: 48px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px; 
}

