.nav{
  display: flex; 
  border-bottom: 2px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  height: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin:0;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
}

.nav__name{
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.nav__container{
  display: flex; 
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 208px);
  align-items: center;
}

.nav__lists{
  align-items: center;
  display: flex;    
  list-style-type: none;
  column-gap: 16px;
  height: 100%;
}

.nav__button-signin{
  color: white;
  width: 176px;
  background-color: rgba(0,0,0, 0.00);
  height: 48px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px; 
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  gap: 19px;
  align-items: center;
}

.nav__button-signin_login{
  width: auto;
  padding-left: 19px;
  padding-right: 19px;
}

.nav__item{
  display: flex;
  align-items: center;
  height: 100%;
  /* padding-right:5px; */
  /* padding-left:5px; */
  transition: all 0.2s ease-in-out;
}

.nav__link{
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}

.nav__link_article{
  margin-left: 23px;
  margin-right: 23px;
}

.nav__link_home{
  margin-left: 9.5px;
  margin-right: 9.5px;
}


.nav__button-signin:hover{
  opacity: 0.6;
}
/**/
/* .nav__item:hover{ */
/*   border-bottom: solid 3px #FFFFFF; */
/* } */

.nav__item-active{
  border-bottom: solid 3px #FFFFFF;
}

.nav__item-active{
  border-bottom: solid 3px #FFFFFF;
}


/* change to black when go to /saved-news */
.nav_black{
  border-bottom: 2px solid #D1D2D6;
}

.nav__name_black{
  color: #1A1B22;
}

/**/
/* .nav__item_black:hover{ */
/*   border-bottom: solid 3px #1A1B22; */
/* } */

.nav__item_black-active{
  border-bottom: solid 3px #1A1B22;
}

.nav__link_black{
  color: #1A1B22;
}

.nav__button-signin_black{
  color: #1A1B22;
  background-color: rgba(0,0,0, 0.00);
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #D1D2D6;

}

@media screen and (max-width: 950px){
  .nav{
      height: 66px;
    }

  .nav__container{
    display: flex; 
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 80px);
    align-items: center;
  }

  .nav__link{
    font-size: 16px;
  }

  .nav__button-signin{
    height: 40px;
    max-width: 152px;
    font-size: 16px;
    line-height: 24px;
    gap: 17px;
  }

  .nav__button-signin_login{
    padding-left: 15px;
    padding-right: 15px
  }


} 
