.search__form{
  width: 608px;
  margin: 0;
  padding: 0;
}

.search__fieldset{
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  position: relative;
  padding: 0;
}

.search__input{
  width: 100%;
  height: 64px;
  padding: 0;
  margin: 0;
  padding-left: 24px;
  border-radius: 100px;
  border: 1px solid #D1D2D6;
  backdrop-filter: blur(4px);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.search__button{
  position: absolute;
  right: 0;
  height: 100%;
  width: 168px;
  border-radius: 100px;
  border: none;
  text-align: center;
  color: #FFFFFF;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search__button:hover{
  background: #347EFF;
}

.search__button:active{
  background: #2A65CC;
}

@media screen and (max-width: 950px){
  .search__form{
    max-width: 100%;
  }

  .search__fieldset{
    height: 56px;
  }

  .search__input{
    height: 56px;
  }
}
