.preloader{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F6F7;
}

.preloader__container{
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
  margin-top: 80px
}

.preloader__icon{
	display: block;
	width: 50px;
	height: 50px;
	border: 4px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
  animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
  }
}	

.preloader__text{
  font-family: 'Roboto','sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  width: 250px;
  text-align: center;
  color: #B6BCBF;
}

.preloader__title{
  font-family: 'Roboto Slab', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 115%;
  text-align: center;
  color: #1A1B22;
  margin-top: 31.5px;
  margin-bottom: 16px;

}

.preloader__container-notfound{
  gap: 0;
  margin-top: 86px; 
  margin-bottom: 80px;
}
