.registration__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2f71e5;
  border: none;
  background: none;
  align-self: flex-start;
  margin-bottom: 51px;
  margin-top: calc(14px - 22px);
  cursor: pointer;
}
